.history {
    display: flex;
    min-height: 3.2rem;
    
    &-term {
        color: grey;
        font-size: 1.6rem;
        margin: 0 .8rem;
        cursor: pointer;

        &:hover {
            color: black;
        }
    }
}