.customButton {
    transition: all .1s;
    width: auto;
    margin: 1.2rem;
    border: 1px solid black;
    padding: .4rem .8rem;

    background: cornflowerblue;

    color: white;

    cursor: pointer;

    &:hover {
        box-shadow: 0 0 1rem rgba(0,0,0, .2);
    }

    &:active {
        transform: translateY(2px)
    }
}